@charset "utf-8";


header#headerWrap{_background-color: skyblue;}
header#headerWrap>div.header_top{_background-color: #ff0; border-bottom: 1px solid #ddd;}
header#headerWrap>div.header_top>nav.util{width: 980px;_background-color: #f00;margin: 0 auto;}

nav.util>ul{float: right; position: relative;}
nav.util>ul>li{float: left;}
nav.util>ul>li>a{display: block; line-height: 30px; padding: 0 20px;}
nav.util>ul>li:after{content: ""; display: block; width: 1px; height: 10px; background-color: #f00; position: absolute;top:10px;}
nav.util>ul>li:first-child:after{content:""; display: none;}


div.header_middle{width: 980px; height: 70px; _background-color: #00f; margin: 0 auto; padding-top: 11px; position: relative;}
div.header_middle>h1{width: 300px;height: 40px; _background-color: #ff0; margin: 0 auto; text-align: center;}
div.header_middle>div.toggle{width: 50px; height: 50px; _background-color: #f0f; position: absolute; top: 11px; right: 10px;}


div.header_bottom{background-color: #1D5DA4;}
nav.gnb{width: 980px; background-color: #1D5DA4; margin: 0 auto;}
nav.gnb>ul>li{width: 163.3px; float: left; text-align: center; border-right: 1px solid #2867AD;}
nav.gnb>ul>li:first-child{border-left: 1px solid #2867AD;}
nav.gnb>ul>li>a{color:#fff; line-height: 40px; font-weight: bold}


div.visual_wrap{background:#2a4778 url(../images/visual_bg01.jpg)
				no-repeat center; height: 400px;}
div.visual_wrap>div.visual{width: 980px;height: 400px;_background-color: #ff0; margin: 0 auto;overflow: hidden; position: relative;}
div.visual_wrap>div.visual>img{position: absolute;}
div.visual_wrap>div.visual>img.visual_text{top:80px;}
div.visual_wrap>div.visual>img.visual_img{right:30px;top:40px;}			

