@charset "utf-8";

<<<<<<< HEAD
header#header{_background-color: skyblue;}
header#header>div.header_top{border-bottom:1px solid #ddd;}
header#header>div.header_top>nav.util{width: 980px; margin: 0 auto; _background-color: #ff0;}

nav.util>ul{float: right; position: relative;}
nav.util>ul>li{float: left;}
nav.util>ul>li>a{display: block;line-height: 30px; padding: 0 20px}
nav.util>ul>li:after{content:""; display: block; width: 1px; height: 10px; background-color: #f00; position: absolute; top: 10px; }
nav.util>ul>li:first-child:after{content:""; display: none;}

div.header_middle{width: 980px;height: 70px; margin: 0 auto;_background-color: #f0f; padding-top: 11px; position: relative;}
div.header_middle>h1{width: 200px; height: 40px; _background-color: #00f; margin: 0 auto;text-align: center;}
div.header_middle>div.toggle{width: 50px;_background-color: #0f0; position: absolute; top: 11px; right: 10px;}

div.header_bottom{background-color: #1D5DA4;}
div.header_bottom>nav.gnb{width: 980px;margin: 0 auto;background-color: #1D5DA4;}
div.header_bottom>nav.gnb>ul{}
div.header_bottom>nav.gnb>ul>li{width: 163.3px; float: left; border-right:1px solid #2867AD; text-align: center;}
div.header_bottom>nav.gnb>ul>li:first-child{border-left:1px solid #2867AD;} 
div.header_bottom>nav.gnb>ul>li>a{line-height: 40px; color:#fff; font-weight: bold}


div.visual_wrap{background:#2a4778 url(../images/visual_bg01.jpg) no-repeat center; height: 400px;}
div.visual_wrap>div.visual{width: 980px; height: 400px; _background-color: #f00; margin: 0 auto; position: relative;}

div.visual_wrap>div.visual>img{position: absolute;}
div.visual_wrap>div.visual>img.visual_text{top: 80px;}
div.visual_wrap>div.visual>img.visual_img{right: 30px; top: 40px;}
=======
>>>>>>> 3d7844ad84492ee552b0d72894931078aee7e550
